<div id="blueprints">
  <h2>Subsystems &amp; Hulls</h2>
  <ul>
    <% %w[legion loki proteus tengu].each do |race| %>
      <li class="closed">
        <a class="list" href="#"><%= race.capitalize %></a>
        <ul>
          <% @blueprints.grouped(race).each do |blueprint| %>
            <li>
              <%= link_to "##{blueprint.id}", class: 'corp profit' do %>
                <%= blueprint.item.name %>
                <span class="value"><%= blueprint.corp_cost.isk %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<% @blueprints.each do |blueprint| %>
  <div class="corp_blueprint faded" id="<%= dom_id blueprint %>">
    <span class="qty">0</span> &times; <%= blueprint.item.name %>
    <span class="value"><%= blueprint.corp_cost.isk %></span>
  </div>
<% end %>

<div class="total">
  Total
  <span class="profit value">0 ISK<span>
</div>
