<div id="blueprints">
  <h2>Subsystems</h2>
  <ul>
    <% %w[defensive electronics engineering offensive propulsion].each do |group| %>
      <li class="closed">
        <a class="list" href="#"><%= group.capitalize %></a>
        <ul>
          <% %w[legion loki proteus tengu].each do |race| %>
            <li class="closed">
              <a class="list profit" href="#">
                <%= race.capitalize %>
                <% @blueprints.grouped(group).grouped(race).each do |blueprint| %>
                  <% if blueprint.best? %>
                    <span class="top-value">
                    <%= blueprint.item.name.split[1..-1] * ' ' %>
                    (<span><%= blueprint.profit_in_percent %>%</span>)
                    <span class="value"><%= blueprint.profit.isk %></span>
                    </span>
                  <% end %>
                <% end %>
              </a>
              <ul>
                <% @blueprints.grouped(group).grouped(race).each do |blueprint| %>
                  <li<%== ' class="best"' if blueprint.best? %>>
                    <%= link_to "##{blueprint.id}",
                      class: blueprint.profit >= 0 ? 'profit' : 'loss' do %>
                      <%= blueprint.item.name %>
                      (<span><%= blueprint.profit_in_percent %>%</span>)
                      <span class="value"><%= blueprint.profit.isk %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li class="closed">
      <a class="list" href="#">Hull</a>
      <ul>
        <% %w[Legion Loki Proteus Tengu].each do |hull| %>
          <% @blueprints.includes(:item).where('items.name = ?', hull).each do |blueprint| %>
            <li<%== ' class="best"' if blueprint.best? %>>
              <%= link_to "##{blueprint.id}",
                class: blueprint.profit >= 0 ? 'profit' : 'loss' do %>
                <%= blueprint.item.name %>
                (<span><%= blueprint.profit_in_percent %>%</span>)
                <span class="value"><%= blueprint.profit.isk %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>

<%= render @blueprints %>
