<div id="blueprints">
  <h2>Subsystems</h2>
  <ul>
    <% @blueprints.each do |blueprint| %>
      <li>
        <%= link_to "##{blueprint.id}" do %>
          <%= blueprint.item.name %> (<%= blueprint.profit_in_percent %>%)
          <span class="value"><%= blueprint.profit.isk %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= render @blueprints %>
