<div id="blueprints">
  <h2>Subsystems</h2>
  <ul>
    <% %w[defensive electronics engineering offensive propulsion].each do |group| %>
      <li class="open">
        <a class="list" href="#"><%= group.capitalize %></a>
        <ul>
          <% @blueprints.send(group.to_sym).each do |blueprint| %>
            <li>
              <%= link_to "##{blueprint.id}", class: blueprint.profit >= 0 ? 'profit' : 'loss' do %>
                <%= blueprint.item.name %> (<span><%= blueprint.profit_in_percent %>%</span>)
                <span class="value"><%= blueprint.profit.isk %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

<%= render @blueprints %>
