<h1>Blueprints#new</h1>

<%= form_for @blueprint do |f| %>
  <ol>
    <li>
      <%= f.label :item_id %>
      <%= f.collection_select :item_id, Item.subsystems, :id, :name %>
    </li>
    <li>
      <%= f.label :relic_id %>
      <%= f.collection_select :relic_id, Relic.all, :id, :name %>
    </li>
    <li>
      <%= f.label :decryptor_id %>
      <%= f.collection_select :decryptor_id, Item.decryptors, :id, :name %>
    </li>
  </ol>
  <%= f.submit %>
<% end %>

