<h1>Relics#index</h1>

<table>
  <thead>
    <tr>
      <th>Intact</th>
      <th>Malfunctioning</th>
      <th>Wrecked</th>
      <th>Materials</th>
    </tr>
  </thead>
  <tbody>
    <% @relics.each do |relic| %>
      <tr>
        <td><%= relic.intact.name %></td>
        <td><%= relic.malfunctioning.name %></td>
        <td><%= relic.wrecked.name %></td>
        <td>
          <% relic.materials.each do |material| %>
            <%= material.quantity %> of <%= material.item.name %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New relic', new_relic_path %>
