<h1>Relics#new</h1>

<%= form_for @relic do |f| %>
  <ol>
    <li>
      <%= f.label :intact_id %>
      <%= f.collection_select :intact_id, Item.all, :id, :name %>
    </li>
    <li>
      <%= f.label :malfunctioning_id %>
      <%= f.collection_select :malfunctioning_id, Item.all, :id, :name %>
    </li>
    <li>
      <%= f.label :wrecked_id %>
      <%= f.collection_select :wrecked_id, Item.all, :id, :name %>
    </li>
  </ol>
  <%= f.submit %>
<% end %>

